/* .container {
    display: flex;
    flex-direction:row;
} */

.container div {
    background-color:pink;
    color:purple;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.container.direction {
    display:flex;
    flex-direction: row-reverse;
}

.container.wrap {
    display:flex;
    flex-wrap: wrap;
}

.container.flow {
    display:flex;
    flex-flow: row wrap;
}