p::first-letter {
    color: blue;
}

p::first-line {
    color: plum;
}

li::marker {
    color:green;
    font-size:20px;
}

.before::before {
    content: url(../2-pseudo-elementos/image/icon.png);
}

.after::after {
    content: "";
    background: url(../2-pseudo-elementos/image/icon.png) center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}