#vai-tremer {
  animation-name: tremer;
  animation-duration: .3s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
}

@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}