.flex {
    flex: 0 1 100px;
}

.wrap {
    flex-wrap: wrap;
}

.item.item3 {
    order: 0;
}

.item.item1 {
    order: 0;
}

.align-self .item5 {
    align-self: auto;
}

.align-self .item3 {
    align-self: flex-start;
}