* {
    border:0;
    padding:0;
}
ul {
    list-style: inside circle url(./images/icon_ok.png);
    background-color: skyblue;
}

ol {
    list-style: inside circle url(./images/icon_denied.png);
    background-color: pink;
}